fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
streamlit
streamlit-calendar
python-dotenv
alembic
pyodbc
pydantic[email]
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
black
flake8
autoflake
isort